.each-slide-effect > div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-size: cover;
    height: 173px;
    flex-shrink: 0;
    margin: 0 15px;
  }
  
/* > div specifies that the rule applies to direct children of elements with the class each-slide-effect that are also div elements */