@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@600&family=Mulish:wght@400;700;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #FFFFFF;
  --mainText: #000000;
  --mainTextLight: #222222;
  --mainColorLighter: gray;
}
code {
  /* font-family: 'Fahkwang', sans-serif; */
  font-family: 'Mulish', sans-serif;
}

